1-Basics.ipynb             
3-MoreFuncs.ipynb      
5-NumPy.ipynb  
7-MCMC.ipynb  
cmd_line_args.py  
example02.ipynb  
example12.py  
example14.py  
fall_asleep_1.py  
fall_asleep_3.py  
fall_asleep_5.py  
lab_4_RandomWalk.ipynb  
mymodule.py      
words.txt
2-FirstApplications.ipynb  
4-AnimatedPlots.ipynb  
6-SciPy.ipynb  
Cython        
decorators.py     
example01.py  
example11.py     
example13.py  
example15.py  
fall_asleep_2.py  
fall_asleep_4.py  
gravity1.py       
lab_5_games.ipynb       
polymorphism.py  
yield.py
