# 1-Basics.ipynb             
# 3-MoreFuncs.ipynb      
# 5-NumPy.ipynb  
# 7-MCMC.ipynb  
example02.ipynb    
# lab_4_RandomWalk.ipynb  
words.txt
2-FirstApplications.ipynb  
# 4-AnimatedPlots.ipynb  
# 6-SciPy.ipynb  
Cython        
# lab_5_games.ipynb       